/*GÉNÉRIQUE*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*BASE*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0px;
    padding: 0px;
}

/*ELEMENTS*/

h2 {
    font: bold 2.25rem/110% "Jost", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
}

.cta,
.button {
    color: white;
    background-color: #C0392B;
    padding: 15px 20px;
    border-radius: 23px;
    text-decoration: none;
    font: bold 1.12rem/100% "Jost", sans-serif;
    border: none;
}


/*SECTION*/

.header {
    background-color: white;
    border-top: 4px solid #E25254;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    font: bold 2.63rem/100% "Jost", sans-serif;
    color: black;
    gap: 30px;

}

.menu {
    display: flex;
    list-style: none;
    gap: 18px;
}

.menu li {
    font: bold 1.12rem/100% "Jost", sans-serif;
}

.hero {
    height: 650px;
    background: url(../image/hero.jpg) no-repeat;
    background-size: cover;
    padding-top: 76px;
    padding-bottom: 76px;
    margin-top: 70px;
}

.hero .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.boite {
    background-color: #E25254;
    opacity: 90%;
    align-self: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 587px;
}

.boite h1 {
    font: bold 3.12rem/110% "Jost", sans-serif;
    color: white;
}

.boite p {
    font: normal 1.12rem/160% "Roboto", sans-serif;
    color: white;
}

.cta {
    align-self: flex-end;
}

.service {
    background-color: #D6D6D6;
    padding: 80px 100px;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.article {
    background-color: white;
    padding: 20px;
    width: 383px;
}


.article:hover {
    background-color: #E25254;
    color: white;
}

.article p {
    font: normal 1.12rem/27px "Roboto", sans-serif;
}

.article h3 {
    color: #E25254;
    font: bold 1.37rem/110% "Jost", sans-serif;
    text-transform: uppercase;
}

.titre {
    display: flex;
    align-items: center;
    gap: 18px;
}


.conseils {
    background: url(../image/tuile.png) repeat;
    background-color: #C0392B;
    height: 656px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-top: 40px;
}

.card {
    background-color: white;
    height: 288px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.conseils .card p {
    font: normal 1.12rem/27px "Roboto", sans-serif;
    color: black;
}

.conseils h2 {
    padding-top: 83px;
}

.titre2 {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #E25254;
    font: bold 1.37rem/110% "Jost", sans-serif;
    text-transform: uppercase;
}

.titre2 span {
    font-size: 30px;
}

.button{
    align-self: flex-end;
    margin-top: auto;
}

.conseils h2{
    color: white;
}

.conseils p {
    color: white;
    font: normal 1.12rem/160% "Roboto", sans-serif;
}

.footer {
    background-color: #E25254;
}

.footer p{
    margin: 0px;
    color: white;
    font: normal 1.12rem/160% "Roboto", sans-serif;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
}


.modale{
    background-color: rgba(0, 0,0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100000;
    display: none;
    justify-content: center;
    align-items: center;
}

.paragraphe{
    color: #E25254;
    font: bolder 18.75rem "Jost", sans-serif ;
    text-transform: uppercase;
}

.ouverte{
    display:flex; 
}