/*GÉNÉRIQUE*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*BASE*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*ELEMENTS*/

h2 {
    font: bold 2.25rem/110% "Jost", sans-serif;
    font-optical-sizing: auto;
}

.cta,
.button {
    color: white;
    background-color: #C0392B;
    padding: 15px 20px;
    border-radius: 23px;
    text-decoration: none;
    font: bold 1.12rem/100% "Jost", sans-serif;
    border: none;
}

h3 {
    color: #E25254;
    font: bold 1.37rem/110% "Jost", sans-serif;
    text-transform: uppercase;
}

/*SECTION*/

.header {
    background-color: white;
    border-top: 4px solid #E25254;
    position: fixed;
    top: 0;
    width: 100%;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    font: bold 2.63rem/100% "Jost", sans-serif;
    color: black;
    gap: 30px ;

}

.menu {
    display: flex;
    list-style: none;
    gap: 18px;
}

.menu li {
    font: bold 1.12rem/100% "Jost", sans-serif;
}

.hero{
    height: 650px ;
    background: url(../image/hero.jpg) no-repeat;
    background-size: cover;
}