/*GÉNÉRIQUE*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*BASE*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
body{
    margin: 0px;
    padding: 0px;
}
/*ELEMENTS*/

h2 {
    font: bold 2.25rem/110% "Jost", sans-serif;
    font-optical-sizing: auto;
}

.cta,
.button {
    color: white;
    background-color: #C0392B;
    padding: 15px 20px;
    border-radius: 23px;
    text-decoration: none;
    font: bold 1.12rem/100% "Jost", sans-serif;
    border: none;
}

h3 {
    color: #E25254;
    font: bold 1.37rem/110% "Jost", sans-serif;
    text-transform: uppercase;
}

/*SECTION*/

.header {
    background-color: white;
    border-top: 4px solid #E25254;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    font: bold 2.63rem/100% "Jost", sans-serif;
    color: black;
    gap: 30px ;

}

.menu {
    display: flex;
    list-style: none;
    gap: 18px;
}

.menu li {
    font: bold 1.12rem/100% "Jost", sans-serif;
}

.hero{
    height: 650px ;
    background: url(../image/hero.jpg) no-repeat;
    background-size: cover;
   padding-top: 76px;
   padding-bottom: 76px;
   margin-top: 70px;
}

.hero .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.boite {
    background-color: #E25254 ;
    opacity: 90%;
    align-self: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 587px;
}

.boite h1 {
    font: bold 3.12rem/110% "Jost", sans-serif ;
    color: white;
}

.boite p {
    font: normal 1.12rem/160% "Roboto", sans-serif;
    color: white;
}

.cta {
    align-self: flex-end;
}